# ------------------------------------------------------------------------------
# .gitignore
# ------------------------------------------------------------------------------

# The documents that were shared ahead of the 2019 AGM and are not for public
# display.
/src/docs/agm2019
